<section class="sidebar position-relative">	
  <div class="multinav">
      <div class="multinav-scroll" style="height: 100%;">	
          <!-- sidebar menu-->
          <ul class="sidebar-menu" data-widget="tree">	
              <li><a href="index.html"><i data-feather="monitor"></i><span>Dashboard</span></a></li>
              <li class="treeview">
                  <a href="#">
                      <i data-feather="grid"></i>
                      <span>Apps</span>
                      <span class="pull-right-container">
                          <i class="fa fa-angle-right pull-right"></i>
                      </span>
                  </a>
                  <ul class="treeview-menu">
                      <li><a href="{{url_for('app_routes.calendar')}}"><i class="icon-Commit"></i>Calendar</a></li>
                      <li><a href="contact_app.html"><i class="icon-Commit"></i>Contact List</a></li>
                      <li><a href="contact_app_chat.html"><i class="icon-Commit"></i>Chat</a></li>
                      <li><a href="extra_taskboard.html"><i class="icon-Commit"></i>Todo</a></li>
                      <li><a href="mailbox.html"><i class="icon-Commit"></i>Mailbox</a></li>
                  </ul>
              </li>
              <li class="treeview">
                  <a href="#">
                      <i data-feather="edit"></i>
                      <span>Widgets</span>
                      <span class="pull-right-container">
                          <i class="fa fa-angle-right pull-right"></i>
                      </span>
                  </a>
                  <ul class="treeview-menu">
                      <li><a href="widgets_blog.html"><i class="icon-Commit"></i>Blog</a></li>
                      <li><a href="widgets_chart.html"><i class="icon-Commit"></i>Chart</a></li>
                      <li><a href="widgets_list.html"><i class="icon-Commit"></i>List</a></li>
                      <li><a href="widgets_social.html"><i class="icon-Commit"></i>Social</a></li>
                      <li><a href="widgets_statistic.html"><i class="icon-Commit"></i>Statistic</a></li>
                      <li><a href="widgets_weather.html"><i class="icon-Commit"></i>Weather</a></li>
                      <li><a href="widgets.html"><i class="icon-Commit"></i>Widgets</a></li>
                      <li><a href="email_index.html"><i class="icon-Commit"></i>Emails</a></li>
                      <li class="treeview">
                          <a href="#">
                              <i class="icon-Commit"></i>Maps
                              <span class="pull-right-container">
                                  <i class="fa fa-angle-right pull-right"></i>
                              </span>
                          </a>
                          <ul class="treeview-menu">
                              <li><a href="map_google.html"><i class="icon-Commit"></i>Google Map</a></li>
                              <li><a href="map_vector.html"><i class="icon-Commit"></i>Vector Map</a></li>
                          </ul>
                      </li>
                      <li class="treeview">
                          <a href="#">
                              <i class="icon-Commit"></i>Modals
                              <span class="pull-right-container">
                                  <i class="fa fa-angle-right pull-right"></i>
                              </span>
                          </a>
                          <ul class="treeview-menu">
                              <li><a href="component_modals.html"><i class="icon-Commit"></i>Modals</a></li>
                              <li><a href="component_sweatalert.html"><i class="icon-Commit"></i>Sweet Alert</a></li>
                              <li><a href="component_notification.html"><i class="icon-Commit"></i>Toastr</a></li>
                          </ul>
                      </li>
                  </ul>
              </li> 				 
              <li class="treeview">
                  <a href="#">
                      <i data-feather="shopping-cart"></i>
                      <span>Ecommerce</span>
                      <span class="pull-right-container">
                          <i class="fa fa-angle-right pull-right"></i>
                      </span>
                  </a>
                  <ul class="treeview-menu">
                      <li><a href="ecommerce_products.html"><i class="icon-Commit"></i>Products</a></li>
                      <li><a href="ecommerce_cart.html"><i class="icon-Commit"></i>Products Cart</a></li>
                      <li><a href="ecommerce_products_edit.html"><i class="icon-Commit"></i>Products Edit</a></li>
                      <li><a href="ecommerce_details.html"><i class="icon-Commit"></i>Product Details</a></li>
                      <li><a href="ecommerce_orders.html"><i class="icon-Commit"></i>Product Orders</a></li>
                      <li><a href="ecommerce_checkout.html"><i class="icon-Commit"></i>Products Checkout</a></li>
                  </ul>
              </li>  		
              <li class="treeview">
                  <a href="#">
                      <i data-feather="cast"></i>
                      <span>Pages</span>
                      <span class="pull-right-container">
                          <i class="fa fa-angle-right pull-right"></i>
                      </span>
                  </a>
                  <ul class="treeview-menu">
                      <li><a href="invoice.html"><i class="icon-Commit"></i>Invoice</a></li>
                      <li><a href="invoicelist.html"><i class="icon-Commit"></i>Invoice List</a></li>	
                      <li><a href="extra_app_ticket.html"><i class="icon-Commit"></i>Support Ticket</a></li>
                      <li><a href="extra_profile.html"><i class="icon-Commit"></i>User Profile</a></li>
                      <li><a href="contact_userlist_grid.html"><i class="icon-Commit"></i>Userlist Grid</a></li>
                      <li><a href="contact_userlist.html"><i class="icon-Commit"></i>Userlist</a></li>	
                      <li><a href="sample_faq.html"><i class="icon-Commit"></i>FAQs</a></li>
                      <li><a href="sample_blank.html"><i class="icon-Commit"></i>Blank</a></li>
                      <li><a href="sample_coming_soon.html"><i class="icon-Commit"></i>Coming Soon</a></li>
                      <li><a href="sample_custom_scroll.html"><i class="icon-Commit"></i>Custom Scrolls</a></li>
                      <li><a href="sample_gallery.html"><i class="icon-Commit"></i>Gallery</a></li>
                      <li><a href="sample_lightbox.html"><i class="icon-Commit"></i>Lightbox Popup</a></li>
                      <li><a href="sample_pricing.html"><i class="icon-Commit"></i>Pricing</a></li>
                  </ul>
              </li>
              <li class="treeview">
                  <a href="#">
                      <i data-feather="package"></i>
                      <span>Features</span>
                      <span class="pull-right-container">
                          <i class="fa fa-angle-right pull-right"></i>
                      </span>
                  </a>
                  <ul class="treeview-menu">			
                      <li><a href="ui_grid.html"><i class="icon-Commit"></i>Grid System</a></li>
                      <li><a href="ui_badges.html"><i class="icon-Commit"></i>Badges</a></li>
                      <li><a href="ui_border_utilities.html"><i class="icon-Commit"></i>Border</a></li>
                      <li><a href="ui_buttons.html"><i class="icon-Commit"></i>Buttons</a></li>	
                      <li><a href="ui_color_utilities.html"><i class="icon-Commit"></i>Color</a></li>
                      <li><a href="ui_dropdown.html"><i class="icon-Commit"></i>Dropdown</a></li>
                      <li><a href="ui_dropdown_grid.html"><i class="icon-Commit"></i>Dropdown Grid</a></li>
                      <li><a href="ui_progress_bars.html"><i class="icon-Commit"></i>Progress Bars</a></li>					
                      <li class="treeview">
                          <a href="#">
                              <i class="icon-Commit"></i>Icons
                              <span class="pull-right-container">
                                  <i class="fa fa-angle-right pull-right"></i>
                              </span>
                          </a>
                          <ul class="treeview-menu">
                              <li><a href="icons_fontawesome.html"><i class="icon-Commit"></i>Font Awesome</a></li>
                              <li><a href="icons_glyphicons.html"><i class="icon-Commit"></i>Glyphicons</a></li>
                              <li><a href="icons_material.html"><i class="icon-Commit"></i>Material Icons</a></li>		
                              <li><a href="icons_themify.html"><i class="icon-Commit"></i>Themify Icons</a></li>		
                              <li><a href="icons_weather.html"><i class="icon-Commit"></i>Weather Icons</a></li>
                          </ul>
                      </li>
                      <li class="treeview">
                          <a href="#">
                              <i class="icon-Commit"></i>Modals
                              <span class="pull-right-container">
                                  <i class="fa fa-angle-right pull-right"></i>
                              </span>
                          </a>
                          <ul class="treeview-menu">
                              <li><a href="component_modals.html"><i class="icon-Commit"></i>Modals</a></li>
                              <li><a href="component_sweatalert.html"><i class="icon-Commit"></i>Sweet Alert</a></li>
                              <li><a href="component_notification.html"><i class="icon-Commit"></i>Toastr</a></li>
                          </ul>
                      </li>
                  </ul>
              </li>
              <li class="treeview">
                  <a href="#">
                      <i data-feather="layers"></i>
                      <span>Components</span>
                      <span class="pull-right-container">
                          <i class="fa fa-angle-right pull-right"></i>
                      </span>
                  </a>
                  <ul class="treeview-menu">
                      <li class="treeview">
                          <a href="#">
                              <i class="icon-Commit"></i>Bootstrap
                              <span class="pull-right-container">
                                  <i class="fa fa-angle-right pull-right"></i>
                              </span>
                          </a>
                          <ul class="treeview-menu">
                              <li><a href="component_bootstrap_switch.html"><i class="icon-Commit"></i>Bootstrap Switch</a></li>
                              <li><a href="component_date_paginator.html"><i class="icon-Commit"></i>Date Paginator</a></li>
                              <li><a href="component_media_advanced.html"><i class="icon-Commit"></i>Advanced Media</a></li>
                              <li><a href="component_modals.html"><i class="icon-Commit"></i>Modals</a></li>
                              <li><a href="component_range_slider.html"><i class="icon-Commit"></i>Range Slider</a></li>
                          </ul>
                      </li>
                      <li><a href="component_bootstrap.html"><i class="icon-Commit"></i>Bootstrap</a></li>
                      <li><a href="component_timepicker.html"><i class="icon-Commit"></i>Time Picker</a></li>
                      <li><a href="component_daterangepicker.html"><i class="icon-Commit"></i>Date Range Picker</a></li>
                  </ul>
              </li> 
          </ul>
      </div>
  </div>
</section>
