    <div class="top_navbar">
            <div class="left-nav">
                <div class="hamburger">
                    <a href="#">
                        <i class="fas fa-bars"></i>
                    </a>
                </div>
                <ul>
                    <li><a href="{{ url_for('app_routes.home') }}">Home</a></li>
                    <li><a href="#about">About</a></li>
                </ul>
            </div>
            <nav class="nav-item">
                <ul>
                    <!-- Social Media Icons -->
                    <li><a href="https://facebook.com"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="https://twitter.com"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="https://instagram.com"><i class="fab fa-instagram"></i></a></li>
                    <!-- User Dropdown -->
                    <li class="user-dropdown">
                        <a href="#" class="user-icon">
                            <i class="fas fa-user"></i>
                        </a>
                        <div class="user-menu">
                            <a href="#">Account</a>
                            <a href="#">Logout</a>
                        </div>
                    </li>
                </ul>
            </nav>
    </div>
