{% extends 'layout.html' %}

{% block content %}
<div class="container-fluid bg-dark text-white">
    <div class="container">
        <!-- Dashboard Header -->
        <div class="row">
            <div class="col-12">
                <h2 class="dashboard-title">WelPurse Dashboard</h2>
            </div>
        </div>

        <!-- Contribution Form -->
        <div class="row">
            <div class="col-12">
                <h3>Make a Contribution</h3>
                <form id="contribution-form" action="{{ url_for('app_routes.make_contribution') }}" method="post" class="text-dark">
                    <!-- {{ form.hidden_tag() }} -->
                    <!-- Dropdown for selecting welfare group -->
                    <div class="input-group mb-3">
                        <select name="welfare_group" class="form-control bg-secondary text-white" required>
                            <option value="" disabled selected>Select Welfare Group</option>
                            <!-- {% for group in user_welfare_groups %} -->
                            <option value="{{ group.id }}">{{ group.name }}</option>
                            <!-- {% endfor %} -->
                        </select>
                    </div>
                    <!-- Input for contribution amount -->
                    <div class="input-group mb-3">
                        <input type="number" name="amount" class="form-control bg-secondary text-white" placeholder="Enter amount" required>
                    </div>
                    <!-- Dropdown for payment method -->
                    <div class="input-group mb-3">
                        <select name="payment_method" class="form-control bg-secondary text-white">
                            <option value="credit_card">Credit Card</option>
                            <option value="paypal">PayPal</option>
                            <!-- Add more payment methods as needed -->
                        </select>
                    </div>
                    <!-- Submit button -->
                    <div class="input-group center mb-3">
                        <button type="submit" class="btn btn-success btn-round">Contribute</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
