{% extends 'layout.html' %}
{% block content %}
<div class="event-creation-form">
  <h1>Create a New Event</h1>
  <form method="POST" action="{{ url_for('app_routes.create_event') }}">
    {{ form.hidden_tag() }}
    <div class="input-group">
      {{ form.welfare_group_name.label }}
      {{ form.welfare_group_name(class_="form-control") }}
    </div>
    <div class="input-group">
      {{ form.event_date.label }}
      {{ form.event_date(class_="form-control") }}
    </div>
    <div class="input-group">
      {{ form.start_date.label }}
      {{ form.start_date(class_="form-control") }}
    </div>
    <div class="input-group">
      {{ form.end_date.label }}
      {{ form.end_date(class_="form-control") }}
    </div>
    <div class="input-group">
      {{ form.donation_purpose.label }}
      {{ form.donation_purpose(class_="form-control") }}
    </div>
    <div class="input-group">
      {{ form.amount_requested.label }}
      {{ form.amount_requested(class_="form-control") }}
    </div>
    <div class="input-group">
      {{ form.submit(class_="btn btn-primary") }}
    </div>
  </form>
</div>
{% endblock content %}
