{% extends 'layout.html'%}
{% block content%}
<div class="dash-content">
  <div class="dash-card">
    <h2>TODAY'S MONEY</h2>
    <p>$53,000</p>
    <p>+55% since yesterday</p>
  </div>
  <div class="dash-card">
    <h2>TODAY'S USERS</h2>
    <p>2,300</p>
    <p>+3% since last week</p>
  </div>
  <div class="dash-card">
    <h2>NEW CLIENTS</h2>
    <p>+3,462</p>
    <p>-2% since last quarter</p>
  </div>
  <div class="dash-card">
    <h2>SALES</h2>
    <p>$103,430</p>
    <p>+5% than last month</p>
  </div>
  <div class="dash-card">

  </div>
  <div class="dash-card">
    <!--CALENDAR-->
    {% include 'calendar.html' %}
  </div>
  <div class="dash-card"></div>
  <div class="dash-card"></div>
  <div class="dash-card"></div>
  <div class="dash-card"></div>
  <div class="dash-card"></div>
  <div class="dash-card"></div>
  <div class="dash-card"></div>
  <div class="dash-card">
    <div class="graph-container">
      <div id="columnchart_material"></div>
    </div>
  </div>
  <div class="dash-card"></div>
  <div class="dash-card"></div>
  <div class="dash-card"></div>
</div>
{% endblock content%}