{% extends 'layout.html' %}
{% block content %}
<div class="event-requests-view">
  <h1>Upcoming Donation Events</h1>
  <table class="styled-table">
    <thead>
      <tr>
        <th>Welfare Group Name</th>
        <th>Amount Requested</th>
        <th>Donation Purpose</th>
        <th>Launch Event</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>KHALIF GROUP</td>
        <td>50,000</td>
        <td>UPLIFT THE COMMUNITY</td>
        <td>
          <form action="{{ url_for('app_routes.create_event') }}" method="post">
            <input type="hidden" name="welfare_group_name" value="KHALIF GROUP">
            <input type="hidden" name="amount_requested" value="50,000">
            <input type="hidden" name="donation_purpose" value="UPLIFT THE COMMUNITY">
            <button type="submit" class="btn">Launch Event</button>
          </form>
        </td>
      </tr>
      <tr>
        <td>KHALIF GROUP</td>
        <td>50,000</td>
        <td>UPLIFT THE COMMUNITY</td>
        <td>
          <form action="{{ url_for('app_routes.create_event') }}" method="post">
            <input type="hidden" name="welfare_group_name" value="KHALIF GROUP">
            <input type="hidden" name="amount_requested" value="50,000">
            <input type="hidden" name="donation_purpose" value="UPLIFT THE COMMUNITY">
            <button type="submit" class="btn">Launch Event</button>
          </form>
        </td>
      </tr>
      <tr>
        <td>HAMZA COMMUNITY</td>
        <td>100,000</td>
        <td>BUSINES SETUP</td>
        <td>
          <form action="{{ url_for('app_routes.create_event') }}" method="post">
            <input type="hidden" name="welfare_group_name" value="HAMZA COMMUNITY">
            <input type="hidden" name="amount_requested" value="100,000">
            <input type="hidden" name="donation_purpose" value="BUSINES SETUP">
            <button type="submit" class="btn">Launch Event</button>
          </form>
        </td>
      </tr>
      <tr>
        <td>COMPUTER SOCIETY</td>
        <td>500,000</td>
        <td>STUDENT SCHOLARSHIP</td>
        <td>
          <form action="{{ url_for('app_routes.create_event') }}" method="post">
            <input type="hidden" name="welfare_group_name" value="COMPUTER SOCIETY">
            <input type="hidden" name="amount_requested" value="500,000">
            <input type="hidden" name="donation_purpose" value="STUDENT SCHOLARSHIP">
            <button type="submit" class="btn">Launch Event</button>
          </form>
        </td>
      </tr>
      <!-- Add more rows as needed -->
    </tbody>
  </table>
</div>
{% endblock content %}
