<!-- View for Donation Requests -->
{% extends 'layout.html' %}
{% block content %}
<div class="donation-list-view">
  <h1>Donation Requests</h1>
  <table class="styled-table">
    <thead>
      <tr>
        <th>Welfare Group Name</th>
        <th>Status</th>
        <th>Amount Requested</th>
        <th>Donation Purpose</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>THE MAGICIANS</td>
        <td>pending</td>
        <td>45,000</td>
        <td>for the children uplifts</td>
        <td>
          <form action="#" method="post" style="display:inline;">
            <button type="submit" class="btn">Approve</button>
          </form>
          <form action=#" method="post" style="display:inline;">
            <button type="submit" class="btn">Reject</button>
          </form>
        </td>
      </tr>
      <tr>
        <td>THE MAGICIANS</td>
        <td>pending</td>
        <td>45,000</td>
        <td>for the children uplifts</td>
        <td>
          <form action="#" method="post" style="display:inline;">
            <button type="submit" class="btn">Approve</button>
          </form>
          <form action=#" method="post" style="display:inline;">
            <button type="submit" class="btn">Reject</button>
          </form>
        </td>
      </tr>
      <tr>
        <td>CHANGAMWE COM</td>
        <td>pending</td>
        <td>145,000</td>
        <td>FIGHT DRUG ABUSE</td>
        <td>
          <form action="#" method="post" style="display:inline;">
            <button type="submit" class="btn">Approve</button>
          </form>
          <form action="#" method="post" style="display:inline;">
            <button type="submit" class="btn">Reject</button>
          </form>
        </td>
      </tr>
      <tr>
        <td>VIJANA MTAANI</td>
        <td>pending</td>
        <td>80,000</td>
        <td>BUILDING AN INCOME PROJECT</td>
        <td>
          <form action="#" method="post" style="display:inline;">
            <button type="submit" class="btn">Approve</button>
          </form>
          <form action="#" method="post" style="display:inline;">
            <button type="submit" class="btn">Reject</button>
          </form>
        </td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock content %}

