{% extends 'layout.html' %}
{% block content %}
<div class="events-list-view">
  <h1>Onging Events</h1>
  <table class="styled-table">
    <thead>
      <tr>
        <th>Group Name</th>
        <th>Event Name</th>
        <th>Date</th>
        <th>Description</th>
        <th>Amount Needed</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for welfare in welfares %}
        {% for event in welfare.get('events') %}
          {% set end_date = event['end_date'] | parse_datetime %}
          {% if end_date >= today %}
          <tr>
            <td>{{ welfare.get('name') }}</td>
            <td>{{ event.get('title') }}</td>
            <td>{{ event.get('event_date') }}</td>
            <td>{{ event.get('description') }}</td>
            <td>30,000</td>
            <td>
              <button type="button" class="btn" onclick="openForm('{{ event.get('id') }}',
                                                                  '{{ event.get('title') }}',
                                                                  '{{ event.get('amount_needed') }}',
                                                                  '{{ event.get('description') }}',
                                                                  '{{ welfare.get('id') }}')">Contribute</button>
              <form action="{{ url_for('app_routes.events_view', welfare_id=event.welfare_id, event_id=event.id) }}" method="get" style="display:inline;">
                <button type="submit" class="btn">View</button>
              </form>
            </td>
      </tr>
      {% endif %}
      {% endfor %}
    {% endfor %}
    
    </tbody>
  </table>
</div>
<!-- Popup Form -->
<div id="popupForm" class="popup-form" style="display:none;">
  <div class="form-content">
    <span class="close" onclick="closeForm()">×</span>
    <h3>Make a Contribution</h3>
    <form id="contribution-form" action="{{ url_for('app_routes.events') }}" method="post">
      {{ form_cont.hidden_tag() }}
      <div class="input-group mb-3">
        {{ form_cont.welfare_group(class="form-control wel-purse-input") }}
      </div>
      <div class="input-group mb-3">
        {{ form_cont.amount.label }} {{ form_cont.amount(class="form-control wel-purse-input") }}
      </div>
      <div class="input-group mb-3">
        {{ form_cont.mpesa_number.label }} {{ form_cont.mpesa_number(class="form-control wel-purse-input") }}
      </div>
      <!-- Hidden field for welfare_id -->
      {{ form_cont.welfare_id(class="form-control wel-purse-input", type="hidden") }}
      {{ form_cont.event_id(class="form-control wel-purse-input", type="hidden") }}
      <div class="input-group center mb-3">
        {{ form_cont.submit(class="contrbutton") }}
      </div>
    </form>
  </div>
</div>


{% endblock content %}

