{% extends 'layout.html' %}
{% block content %}
<div class="dash-content">
  <div class="dash-card">
    <i class="fa fa-piggy-bank" aria-hidden="true"></i> <!-- Savings Icon -->
    <h2>WALLET SAVINGS</h2>
    <p>KSH {{updated_wallet.current_balance}}</p>
    <p>Since {{updated_wallet.created_at}}</p>
  </div>
  <div class="dash-card">
    <i class="fa fa-calendar-check-o" aria-hidden="true"></i> <!-- Event Icon -->
    <h2>Month's Event</h2>
    <p>23,300</p>
    <p>+3% Since Last Week</p>
  </div>
  <div class="dash-card">
    <i class="fa fa-users" aria-hidden="true"></i> <!-- Members Icon -->
    <h2>Members</h2>
    <p>{{member_count}}</p>
    <p>1% Increase Since Last Quarter</p>
  </div>
  <div class="dash-card">
    <i class="fa fa-money" aria-hidden="true"></i> <!-- Disbursement Icon -->
    <h2>Total Disbursement</h2>
    <p>$103,430</p>
    <p>Since 2022</p>
  </div>
  <div class="dash-card">
    <h2>Upcoming Events</h2>
    <!-- Calendar -->
    {% include 'calendar.html' %}
  </div>
  <div class="dash-card">
    <div class="group-name">
      <h1>
        {{welfare.get('name')}}
      </h1> 
    </div>
    <h2>Current Activities</h2>
    <ul>
      <li>
        <p>Contribution: <progress value="{{ (44000 / 50000) * 100 }}" max="100"></progress> {{ (34000 / 50000) * 100 }}%</p>
        <form action="#" method="post" class="contr-form">
          {{ form.hidden_tag() }}
          <div class="input-group mb-3">
            {{ form.amount(type="number", class="form-control wel-purse-input", placeholder="Enter donation amount") }}
          </div>
          <div class="input-group mb-3">
              {{form.mpesa_number(type="number", placeholder="Enter Mpesa Number")}}
          </div>
              {{ form.submit(class="btn") }}
        </form>
      </li>
      <li>
          <form action="#" method="get" style="display:inline; margin: auto;">
            <!-- Donation Request Button -->
              <button type="button" class="btn-donate" data-toggle="modal" data-target="#donationRequestModal">
                Donation Request
              </button>
          </form>
              <!-- Donation Request Modal -->
              <div class="modal fade" id="donationRequestModal" tabindex="-1" role="dialog" aria-labelledby="donationRequestModalLabel" aria-hidden="true" onclick="openFormRequest('{{ current_user.get('id')}}', '{{ welfare.get('id') }}')">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="donationRequestModalLabel">Donation Request</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <!-- Include your donation form here -->
                      <form action="{{ url_for('main.group_dash', welfare_id=welfare.get('id')) }}" method="post">
                        {{ form_req.hidden_tag() }}
                        <!-- Donor Details Step -->
                        <fieldset class="form-step form-step-active">
                          <div class="input-group">
                            {{ form_req.reason.label }}
                            {{ form_req.reason(class='form-control') }}
                          </div>
                          <div class="input-group">
                            {{ form_req.amount_requested.label }}
                            {{ form_req.amount_requested(class='form-control') }}
                          </div>
                          {{ form_req.welfare_id(class="form-control wel-purse-input", type="hidden") }}
                          {{ form_req.member_id(class="form-control wel-purse-input", type="hidden") }}
                          <!-- Add more donor fields as needed -->
                          <div class="btns-group">
                            <button type="button" class="btn btn-next">Next</button>
                          </div>
                        </fieldset>
                        <!-- Confirmation Step -->
                        <fieldset class="form-step">
                          <div class="input-group">
                            <p>Please review your details and confirm your donation.</p>
                          </div>
                          <div class="btns-group">
                            <a href="#" class="btn btn-prev">Previous</a>
                            {{ form_req.submit(class='btn') }}
                          </div>
                        </fieldset>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
      </li>
      <!-- <li>Activity 3</li> -->
    </ul>
  </div>
  <div class="dash-card">
    <h2>Contribution Summary</h2>
    <div class="graph-container">
      <div id="columnchart_material"></div>
    </div>
  </div>
  <div class="dash-card">
    <h2>Goals</h2>
    <p>Fundrise Burial1 event: <progress value="50" max="100"></progress> 50%</p>
    <p>Fundrise Burial2 event: <progress value="50" max="100"></progress> 50%</p>
    <p>Fundrise Burial3 event: <progress value="50" max="100"></progress> 50%</p>
  </div>
</div>
{% endblock content %}