{% extends 'layout.html'%}
{% block content%}
 <section class="container-cards">
    <div class="card">
        <h4>Welfare Group: Education Aid Fund</h4>
        <h6>Purpose</h6>
        <p>Providing scholarships to underprivileged students.</p>
        <a class="button red-button join-btn">Become a Contributor</a>
        <a class="button blue-button info-btn">About Education Aid Fund</a>        
    </div>
    <div class="card">
        <h4>Welfare Group: Burial Ceremonies</h4>
        <h6>Purpose</h6>
        <p>Providing Burial Ceremonies to Bereaved persons.</p>
        <a class="button red-button join-btn">Become a Contributor</a>
        <a class="button blue-button info-btn">About Welfare</a>        
    </div>
    <div class="card">
        <h4>Welfare Group: Education Aid Fund</h4>
        <h6>Purpose</h6>
        <p>Providing scholarships to underprivileged students.</p>
        <a class="button red-button join-btn">Become a Contributor</a>
        <a class="button blue-button info-btn">About Welfare</a>        
    </div>
    <div class="card">
        <h4>Welfare Group: Education Aid Fund</h4>
        <h6>Purpose</h6>
        <p>Providing scholarships to underprivileged students.</p>
        <a class="button red-button join-btn">Become a Contributor</a>
        <a class="button blue-button info-btn">About Welfare</a>        
    </div>
    <div class="add-card" onclick="window.location.href='/creategroup';">
      <div class="plus-sign">
            +
      </div>
      <div class="create-group-text">Create a group</div>
 </section>
{% endblock content%}
