<!--Design by foolishdeveloper.com-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <script src="https://unpkg.com/intasend-inlinejs-sdk@4.0.0/build/intasend-inline.js"></script>
    <!--CALENDAR-->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.css" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">-->
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script> 
    <!--CUSTOM CSS-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/sidebar.css', cache_id=cache_id) }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/_top_nav.css', cache_id=cache_id) }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/footer.css', cache_id=cache_id) }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css', cache_id=cache_id) }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/login.css', cache_id=cache_id) }}">
    <!--LOGIN styles-->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap.min.css', cache_id=cache_id) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/fontawsom-all.min.css', cache_id=cache_id) }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/style.css', cache_id=cache_id) }}" />
    <!--CARDVIEW-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/cardview.css', cache_id=cache_id) }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/container_cards.css', cache_id=cache_id) }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/contain-sidebar-cards.css', cache_id=cache_id) }}">
    <script src="{{ url_for('static', filename='script/cardview.js', cache_id=cache_id)}}"></script>
    <!--DASHBOARD-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/dashboard.css', cache_id=cache_id) }}">
    <script src="{{ url_for('static', filename='script/intasend.js', cache_id=cache_id)}}"></script>
    <!-- <script src="{{ url_for('static', filename='script/calendar.js', cache_id=cache_id)}}"></script> -->
    <!--CREATE GROUP-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/creategroup.css', cache_id=cache_id) }}">
    <script src="{{ url_for('static', filename='script/creategroup.js', cache_id=cache_id)}}"></script>
    
    <!--CONTRIBUTE-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/contribute.css', cache_id=cache_id) }}">
    <script src="{{ url_for('static', filename='script/contribute.js', cache_id=cache_id)}}"></script>
    <script src="{{ url_for('static', filename='script/events.js', cache_id=cache_id)}}"></script>

    
    {% if title%}
      <title> WelPurse - {{ title}} </title>
    {%else%}
      <title> WelPurse </title>
    {%endif%}
</head>
<body>
  <div class="wrapper">
    {% if title == 'Login'  or title == 'Register'%}
      {% include '_topnavbar.html' %}
      {% block login %}
          {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
      {% endblock login %}
      {% block register %}
      {% endblock register %}
      {% include '_footer.html' %}
    {% else %}
      {% include '_topnavbar.html' %}
      <div class="contain-sidebar-cards">
        {% include '_sidebar.html' %}
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
        {% block content %}
        {% endblock %}
      </div>
      {% include '_footer.html' %}
    {% endif %}
  </div>
  

    <script src="{{ url_for('static', filename='script/charts.js', cache_id=cache_id) }}"></script>
    <script src="{{ url_for('static', filename='assets/js/jquery-3.2.1.min.js', cache_id=cache_id) }}"></script>
    <script src="{{ url_for('static', filename='assets/js/popper.min.js', cache_id=cache_id) }}"></script>
    <script src="{{ url_for('static', filename='assets/js/bootstrap.min.js', cache_id=cache_id) }}"></script>
    <script src="{{ url_for('static', filename='assets/js/script.js', cache_id=cache_id) }}"></script>
</body>
</html>