/* Base styles for the navbar */
.top_navbar {
  grid-area: header;
  background: #2a5b87;
  width: 100%;
  z-index: 1000;
  transition: all 0.5s ease;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}

/* Style adjustments when the sidebar is active */
body.active .top_navbar {
  width: calc(100% - 250px);
}

/* Left navigation with only logo */
.left-nav {
  display: flex;
  align-items: center;
}

/* Navbar links and user dropdown */
.nav-item ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-item ul li {
  margin-right: 20px;
}

.nav-item ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-item ul li a:hover {
  color: #dfe6e9;
}

/* User dropdown */
.user-dropdown {
  position: relative;
}

.user-dropdown .user-menu {
  display: none;
  position: absolute;
  right: 0;
  color: black;
  background-color: #f9f9f9;
  min-width: 160px;
  flex-direction: column;
  border-radius: 10px;
  top: 22px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.user-dropdown .user-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.user-dropdown .user-menu a:hover {
  background-color: #f1f1f1;
}

.user-dropdown:hover .user-menu {
  display: block;
}

/* Social Media Icons */
.nav-item ul li a i {
  margin-right: 8px;
}

/* Notification and Message Icons */
.notification-icon, .message-icon {
  position: relative;
  color: white;
}

.notification-icon .badge, .message-icon .badge {
  position: absolute;
  top: -5px;
  right: -10px;
  background: red;
  color: white;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 12px;
}

@media (max-width: 768px) {
  /* Responsive adjustments for the entire navbar */
  .top_navbar {
      flex-direction: column;
      align-items: flex-start;
  }

  .nav-item ul {
      flex-direction: column;
      align-items: flex-start;
  }

  .nav-item ul li {
      width: 100%;
      margin: 5px 0;
  }

  .nav-item ul li a i {
      display: block;
      margin: 0 auto;
  }
}
