.card-wf {
    font-family: Arial, sans-serif;
    background-color: #d0b997;
    border-radius: 25px;
    box-shadow: -13px 6px 8px rgba(0, 0, 0, 0.1);
    /* color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    color: #333;
    max-width: 28%;
    margin: 10px;
    padding: 20px;
    /* align-items: start; */
  }
  .card-wf h1, .card-wf h2, .card-wf h3, .card-wf p {
    margin: 10px 0;
  }
  .card-wf .button {
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
  .red-button {
    background-color: #e74c3c; /* Variation of red */
  }
  .blue-button {
    background-color: #3498db; /* Variation of blue */
  }
/* 
ADD CARD BUTTON
*/
.add-card {
  max-width: 28%;
  margin: 10px;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #d0b997;
  border-radius: 25px;
  box-shadow: -13px 6px 8px rgba(0, 0, 0, 0.1);
  color: #333;
  /* max-width: 200px; */
  /* width: 300px; */
  /* height: 200px; */
  /* position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
  cursor: pointer;
  border: solid 2px;
}
  .add-card:hover .plus-sign,
  .add-card:hover .create-group-text {
    opacity: 1;
  }
  .plus-sign {
    /* border: solid 2px; */
    border-radius: 10px;
    font-size: 160px;
    opacity: 0.3;
    transition: opacity 0.3s;
    min-width: 100%;
    text-align: center;
    /* margin-bottom: 10px; */
  }
  .create-group-text {
    font-size: 16px;
    opacity: 0; 
    transition: opacity 0.3s;
    margin-top: 10px;
  }
  .create-group-text {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db; /* Button color */
    color: white; /* Text color */
    text-align: center;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; /* Remove underline from links */
    transition: background-color 0.3s, transform 0.3s;
  }
  .create-group-text:hover {
    background-color: #2980b9; /* Darker shade on hover */
    transform: scale(1.05); /* Slightly larger on hover */
  }

  /* .card:nth-child(1){
    grid-area: c1;
  }
  .card:nth-child(2){
    grid-area: c2;
  }
  .card:nth-child(3){
    grid-area: c3;
  }
  .card:nth-child(4){
    grid-area: c4;
  }
  .card:nth-child(5){
    grid-area: c5;
  }
  .card:nth-child(6){
    grid-area: c3;
  } */
