.wrapper .section .top_navbar {
    background: rgb(50 47 190);;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 30px;
    position: fixed; /* Make the navbar fixed */
    width: 100%; /* Adjust the width */
    z-index: 1000; /* Ensure it's above other elements */
    top: 0; /* Position at the top */
    right: 0; /* Align to the right */
    transition: all 0.5s ease;
  }
  
  /* Adjust the top_nav when the sidebar is active */
  body.active .wrapper .section .top_navbar {
    width: 100%; /* Full width when sidebar is not visible */
  }