.wel-purse-bg {
    grid-area: main;
    background-color: #d0b997;
    color: #2a5b87;
    padding: 20px;
    border-radius: 25px;
    box-shadow: -5px 5px 5px gray;
}

.dashboard-title {
    color: #2a5b87; /* Your secondary theme color */
}

.contribution-header {
    color: rgba(171, 0, 0, 0.73); /* Your accent theme color */
}

.wel-purse-select, .wel-purse-input {
    color: #2a5b87; /* Your secondary theme color */
    background-color: #f5f5f5; /* Light background for inputs */
    border: 1px solid #d0b997; /* Border in primary theme color */
    border-radius: 4px; /* Slightly rounded corners */
    padding: 10px;
}

.wel-purse-btn {
    background-color: rgba(171, 0, 0, 0.73); /* Your accent theme color */
    color: #d0b997; /* Your primary theme color */
    border-radius: 20px; /* Rounded corners for the button */
    border: none;
    padding: 10px 20px;
}

.wel-purse-btn:hover {
    background-color: #d0b997; /* Your primary theme color */
    color: #2a5b87; /* Your secondary theme color */
}
