
.dash-content {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: repeat(4, minmax(0, 1fr));
  grid-template-areas: 
    "c1 c2 c3 c4"
    "c5 c5 c6 c6"
    "c5 c5 c6 c6"
    "c7 c7 c8 c8";
    gap: 10px;
}

.dash-card {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #f0f0f0; */
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: -13px 6px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.dash-card:nth-child(1) {
  grid-area: c1;
  padding: 60px;
  /* margin: 10px; */
  flex-wrap: wrap;
}

.dash-card:nth-child(2) {
  grid-area: c2;
  padding: 60px;
  flex-wrap: wrap;
}

.dash-card:nth-child(3) {
  grid-area: c3;
  padding: 60px;
  /* margin: 10px; */
  flex-wrap: wrap;
}

.dash-card:nth-child(4) {
  grid-area: c4;
  padding: 60px;
  /* margin: 10px; */
  flex-wrap: wrap;
}

.dash-card:nth-child(5) {
  grid-area: c5;
}

.dash-card:nth-child(6) {
  grid-area: c6;
}

.dash-card:nth-child(7) {
  grid-area: c7;
}
.dash-card:nth-child(8) {
  grid-area: c8;
}
.c6 {
  grid-area: c6;
  padding: 10px;
  box-sizing: border-box;
}
/* Accessibility improvements */
.dash-card {
  color: #333; /* Improved text color for readability */
}

/* Visual hierarchy example */
.dash-card h2 {
  font-size: 1.0em;
  color: #007bff; /* Highlighting titles */
}
.graph-container {
  grid-area: c5;
  width: 100%;
  height: 100%;
}
.my-welfares{
    /* margin-left: 750px; */
    top: 60px;
    right: 1rem;
    transition: all 0.5s ease;
    width: 250px;
    background-color: antiquewhite;
    border-radius: 15px;
    margin-left: 10px;
    position: fixed;
    overflow-y: auto;
    bottom: 50px;
}
.overview-h3{
    margin: 10px;
}
/* .list-cards{
    background: rgb(47, 104, 190);
    position: fixed;
    top: 60px;
    right: 0;
    width: 225px;
    padding: 20px 0;
    transition: all 0.5s ease;
    margin-left: 10px;
    margin-right: 70px;
    border-radius: 30px;
    overflow-y: auto;
    bottom: 50px;
} */
/* 
STYLE SCROLBAR
*/
/* Style the scrollbar - light/dark theme */
.wrapper .my-welfares::-webkit-scrollbar {
    width: 12px;
    /* Scrollbar width */
  }
  
  .wrapper .my-welfares::-webkit-scrollbar-track {
    background: #f11313;
    /* Track color */
    border-radius: 20px;
    /* Track border radius */
  }
  
  .wrapper .my-welfares::-webkit-scrollbar-thumb {
    background: #888;
    /* Thumb color */
    border-radius: 20px;
    /* Thumb border radius */
    border: 3px solid #f1f1f1;
    /* Creates padding around the thumb */
  }
  
  .wrapper .my-welfares::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Thumb color on hover */
  }
  
  .wrapper .my-welfares {
    scrollbar-width: thin;
    /* Scrollbar width */
    scrollbar-color: #888 #f1f1f1;
    /* Thumb and track color */
    scrollbar-width: none
  }
  /* 
  CONTRIBUTION GRAPH
  */
 #columnchart_material{
    /* max-width: 400px;
    max-height: 300px; */
    /* background-color: #d0b997; */
  }
  .contribution-summary{
    /* background-color: #d0b997; */
    border-radius: 10px;
    min-width: 40%;
  }
  /*
  PROGRESS BAR 
 */
 .progress-bar{
    width: 90%;
    height: 2em;
    background-color:rgb(47, 104, 190);
    border-radius: 1em;
    align-content: center;
    position: relative;
    margin-top: .5em;
    margin-left: .5em;
    color: white;
 }
 .progress-bar::before{
    content: attr(data-label);
    display: flex;
    align-items: center;
    position: absolute;
    width: calc(var(--width, 0) * 1%);
    left: .5em;
    top: .3em;
    bottom: .3em;
    min-width: 2rem;
    max-width: calc(100% - 1em);
    background-color:rgb(171 0 0 / 73%);
    border-radius: .5em;
    padding: .5em;
 }

 /* 
 INTASEND
 */
 .intaSendPayButton{
  background-color: rgb(47, 104, 190);
  margin: .5em;
  border-radius: 0.5em;
  padding: 0.5em;
 }
 .intaSendPayButton:hover{
  background-color: rgb(171 0 0 / 73%);
 }
 /* 
 CALENDAR
 */
 .cal-cont{
  margin: 2px;
  background-color: #d0b997;
  border-radius: 15px;
  /* max-width: 400px;
  max-height: 450px; */
  margin-left: 30px;
  min-width: 45%;
 }
 
 /* 
 CONTAINER FOR CALENDER AND CONTR-SUMMARY
 */
 /* .contr-calendar{
  display: flex;
  justify-content: space-between;

  margin-right: 18%;
  margin-left: 18%;
 } */
 .contr-calendar {
  display: flex;
  justify-content: space-around;
  min-width: 50%;
  margin-right: 15%;
  margin-left: 20%;
}

.span-text{
  color: rgb(37, 39, 124);
  font-size: x-large;
  font-family: 'Times New Romans';
  font-weight: bolder;
 }
 .span-total {
  margin: .5em;
 }