/* footer.css */
.footer {
    grid-area: footer;
    background-color: rgb(47, 104, 190); /* Footer background color */
    color: #fff; /* Footer text color */
    text-align: center;
    /* padding: 10px 0; Footer padding */
    bottom: 0;
    /* margin-top: auto; */
    width: 100%;
    padding: 10px 20px;
  }
  
  .footer .container {
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
  }
  /* 
  CALENDER
  */
  #calendar {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
}

  .calendar {
    width: 100%;
    
    border-collapse: collapse;
  }
  .calendar th, .calendar td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }
  .current-date {
    background-color: red;
    color: white;
  }
  .event-entry {
    background-color: blue;
    color: white;
    cursor: pointer;
  }
  .event-details {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    border: 1px solid #ddd;
    z-index: 1;
  }