/* body > div > div.container-fluid > div > div {
    margin-bottom: 30px;
} */
/* body > div > div.container-fluid > div > div > div > div > div.col-lg-4.col-md-5.box-de{
    background-color: rgb(171 0 0 / 73%);
    display: flex;
} */
/* body > div > div.container-fluid > div > div > div > div > div.col-lg-4.col-md-5.box-de > div > a > button:hover {
    color: #212529;
    background-color: #d0b997;
    border-color: #f8f9fa;
} */
/* body > div > div.container-fluid > div > div > div > div > div.col-lg-4.col-md-5.box-de > div > a > button
{
    
} */
/* body > div > div.container-fluid > div > div > div > div > div.col-lg-8.col-md-7.log-det{
    background-color: #d0b997;
} */
/* body > div > div.container-fluid > div > div > div > div > div.col-lg-8.col-md-7.log-det > div.text-box-cont > div.input-group.center.mb-3 > button{
 background-color: rgb(171 0 0 / 73%);
} */
/* body > div > div.container-fluid > div > div > div > div > div.col-lg-8.col-md-7.log-det > div.text-box-cont > div.input-group.center.mb-3 > button:hover {
    color: #212529;
    background-color: #e6ddce;
    border-color: #f8f9fa;
} */
/* body > div > div.container-fluid > div > div > div {
    background-color: rgb(255, 255, 255);
    float: none;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    margin: 8% auto auto;
    border-radius: 5px;
} */
