.container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start; /* Align items to the start of the cross axis */
    margin-right: 30px; /* Right margin for the container */
    margin-left: 10px; /* Left margin to account for the sidebar width */
    justify-content: flex-start;
  }
  
/* .container-cards {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
  } */