<aside class="main-sidebar">
	<div class="user-profile">
		<div class="profile-pic">
			<img src="{{ url_for('static', filename='images/148.jpg') }}" alt="user">	
			<div class="profile-info text-white">
				<h4>Khalfan Athman</h4>
				<div class="list-icons-item dropdown">
					<a href="#" class="list-icons-item dropdown-toggle text-white-50 hover-primary" data-bs-toggle="dropdown">
						<span class="badge badge-ring fill badge-primary mx-2"></span>Online
					</a>
					<div class="dropdown-menu">
						<a href="#" class="dropdown-item">Update data</a>
						<a href="#" class="dropdown-item">Detailed log</a>
						<a href="#" class="dropdown-item">Statistics</a>
						<a href="#" class="dropdown-item">Clear list</a>
					</div>
				</div>
			</div>
		</div>
	</div>
